In [1]:
import numpy as np 
import pandas as pd 
from pandas import Series,DataFrame

In [3]:
ser1=Series([0,1,2],index=['A','B','C'])
ser2=Series([3,4,5,6],index=['A','B','C','D'])

In [4]:
ser1+ser2

A    3.0
B    5.0
C    7.0
D    NaN
dtype: float64

In [8]:
dframe1=DataFrame(np.arange(4).reshape((2,2)),columns=list('AB'),index=['AA','FFF'])

In [9]:
dframe1

     A  B
AA   0  1
FFF  2  3

In [10]:
dframe2=DataFrame(np.arange(9).reshape((3,3)),columns=list('ADC'),index=['AA','F','FFF'])

In [11]:
dframe2

     A  D  C
AA   0  1  2
F    3  4  5
FFF  6  7  8

In [12]:
dframe1+dframe2

       A   B   C   D
AA   0.0 NaN NaN NaN
F    NaN NaN NaN NaN
FFF  8.0 NaN NaN NaN

In [13]:
dframe1

     A  B
AA   0  1
FFF  2  3

In [18]:
dframe1.add(dframe2,fill_value=0)#pairnei apo to df1

       A    B    C    D
AA   0.0  1.0  2.0  1.0
F    3.0  NaN  5.0  4.0
FFF  8.0  3.0  8.0  7.0

AttributeError: 'DataFrame' object has no attribute 'ix'

     A  D  C
AA   0  1  2
F    3  4  5
FFF  6  7  8