In [2]:
import numpy as np 
import pandas as pd
from pandas import Series,DataFrame

In [3]:
ser1=Series(np.arange(3),index=['a','b','c'])

In [4]:
ser1

a    0
b    1
c    2
dtype: int64

In [5]:
ser1.drop('b')

a    0
c    2
dtype: int64

In [7]:
dframe1=DataFrame(np.arange(9).reshape((3,3)),index=['aaa','vvv','ny'],columns=['pp','qq','ss'])

In [8]:
dframe1

     pp  qq  ss
aaa   0   1   2
vvv   3   4   5
ny    6   7   8

In [9]:
dframe1.drop('aaa')

     pp  qq  ss
vvv   3   4   5
ny    6   7   8

In [10]:
dframe2=dframe1.drop('aaa')

dframe2

     pp  qq  ss
vvv   3   4   5
ny    6   7   8

In [12]:
dframe1.drop('ss',axis=1) #gia columns vazw axis 1 , rows bazw axis 0

     pp  qq
aaa   0   1
vvv   3   4
ny    6   7