In [1]:
import numpy as np 
import pandas as pd 
from pandas import Series,DataFrame

In [2]:
xlsfile = pd.ExcelFile('dframe.xlsx')

In [3]:
xlsfile

In [4]:
dframe = xlsfile.parse('Sheet1')

dframe

   col1 col2
0     1    a
1     2    b
2     3    c
3     4    d
4     5    e
5     6    f
6     7    g
7     8    h
8     9    i