In [1]:
import numpy as np 
import pandas as pd 
from pandas import Series,DataFrame

In [3]:
 animals = DataFrame(np.arange(16).reshape(4,4),columns = ['w','x','y','z'],index=['dog','cat','bird','mouse'])

In [7]:
animals.ix[1:2,['w','y']] =np.nan

AttributeError: 'DataFrame' object has no attribute 'ix'

In [8]:
behavior_map={'w':'good','x':"bad",'y':'good','z':'bad'}

In [9]:
animal_col = animals.groupby(behavior_map,axis=1)

animal_col.sum()

       bad  good
dog      4     2
cat     12    10
bird    20    18
mouse   28    26

In [10]:
animal_col

In [11]:
animals

        w   x   y   z
dog     0   1   2   3
cat     4   5   6   7
bird    8   9  10  11
mouse  12  13  14  15

In [13]:
behav_ser=Series(behavior_map)

behav_ser

w    good
x     bad
y    good
z     bad
dtype: object

In [14]:
animals.groupby(behav_ser,axis=1).count()

       bad  good
dog      2     2
cat      2     2
bird     2     2
mouse    2     2

In [15]:
animals.groupby(len).sum()

    w   x   y   z
3   4   6   8  10
4   8   9  10  11
5  12  13  14  15

In [16]:
keys = ['a','b','a','b']

In [18]:
animals.groupby([len,keys]).max()

      w   x   y   z
3 a   0   1   2   3
  b   4   5   6   7
4 a   8   9  10  11
5 b  12  13  14  15

In [21]:
heir_col = pd.MultiIndex.from_arrays([['ny','ny','ny','sf','sf'],[1,2,3,1,2]],names=['cities','sub_value'])

In [23]:
dframe_hr =DataFrame(np.arange(25).reshape(5,5),columns = heir_col)

In [24]:
dframe_hr =dframe_hr*100

In [25]:
dframe_hr

cities       ny                sf
sub_value     1     2     3     1     2
0             0   100   200   300   400
1           500   600   700   800   900
2          1000  1100  1200  1300  1400
3          1500  1600  1700  1800  1900
4          2000  2100  2200  2300  2400