In [1]:
import numpy as np 
import pandas as pd 

from pandas import Series,DataFrame
from numpy.random import randn

In [2]:
ser1=Series([1,2,3,4],index=['A','B','C','D'])

ser1

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
ser2=ser1.reindex(['A','B','C','D','E','F'])

ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [4]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [5]:
ser3=Series(['USA','MEXICO','CANADA'],index=[0,5,10] )

In [10]:
ranger=  range(15)

In [11]:
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     MEXICO
6     MEXICO
7     MEXICO
8     MEXICO
9     MEXICO
10    CANADA
11    CANADA
12    CANADA
13    CANADA
14    CANADA
dtype: object

In [17]:
dframe=DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['co11','col2','col3','col4','col5'])

In [18]:
dframe

       co11      col2      col3      col4      col5
A -1.531347 -0.766934  0.746826 -0.643012  0.721251
B  1.292690 -0.427792  0.646457 -0.162857  0.175709
D  1.397831  1.051480  1.832046  0.842672 -0.940653
E  0.897800  0.898216 -1.594264 -0.173452  1.167628
F  0.670322 -0.690772  0.005938  0.019014 -0.873529

In [19]:
dframe2=dframe.reindex(['A','B','C','D','E','F'])

In [20]:
dframe2

       co11      col2      col3      col4      col5
A -1.531347 -0.766934  0.746826 -0.643012  0.721251
B  1.292690 -0.427792  0.646457 -0.162857  0.175709
C       NaN       NaN       NaN       NaN       NaN
D  1.397831  1.051480  1.832046  0.842672 -0.940653
E  0.897800  0.898216 -1.594264 -0.173452  1.167628
F  0.670322 -0.690772  0.005938  0.019014 -0.873529

In [21]:
new_columns=['co11','col2','col3','col4','col5','col6']

In [22]:
dframe2.reindex(columns=new_columns)

       co11      col2      col3      col4      col5  col6
A -1.531347 -0.766934  0.746826 -0.643012  0.721251   NaN
B  1.292690 -0.427792  0.646457 -0.162857  0.175709   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.397831  1.051480  1.832046  0.842672 -0.940653   NaN
E  0.897800  0.898216 -1.594264 -0.173452  1.167628   NaN
F  0.670322 -0.690772  0.005938  0.019014 -0.873529   NaN

In [27]:
dframe.loc[['A','B','C','D','E','F'],new_columns]

KeyError: "Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: Index(['C'], dtype='object'). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike"

range(0, 15)