In [1]:
import numpy as np 
import pandas as pd 
from pandas import Series,DataFrame

In [20]:
dframe=pd.read_table('test.csv',sep='\t',header=None)

In [21]:
dframe

,0
0,{\rtf1\ansi\ansicpg1252\cocoartf1504\cocoasubr...
1,{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
2,{\colortbl;\red255\green255\blue255;}
3,{\*\expandedcolortbl;;}
4,\paperw11900\paperh16840\margl1440\margr1440\v...
5,\pard\tx-100\tx566\tx1133\tx1700\tx2267\tx2834...
6,"\f0\fs24 \cf0 q,r,s,t,apple\"
7,\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401...
8,"\cf0 2,3,4,5,pear\"
9,"A,s,d,f,rabbit \"
10,\pard\tx-100\tx566\tx1133\tx1700\tx2267\tx2834...
11,"\cf0 5,2,5,7,dog }"

In [28]:
dframe.to_csv('test.csv',sep=',')

In [29]:
dframe

,0
0,{\rtf1\ansi\ansicpg1252\cocoartf1504\cocoasubr...
1,{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
2,{\colortbl;\red255\green255\blue255;}
3,{\*\expandedcolortbl;;}
4,\paperw11900\paperh16840\margl1440\margr1440\v...
5,\pard\tx-100\tx566\tx1133\tx1700\tx2267\tx2834...
6,"\f0\fs24 \cf0 q,r,s,t,apple\"
7,\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401...
8,"\cf0 2,3,4,5,pear\"
9,"A,s,d,f,rabbit \"
10,\pard\tx-100\tx566\tx1133\tx1700\tx2267\tx2834...
11,"\cf0 5,2,5,7,dog }"