In [2]:
import numpy as np 
import pandas as pd 
from pandas import Series,DataFrame

In [3]:
ser1 = Series([1,2,3,4,1,2,3,4])

In [4]:
ser1

0    1
1    2
2    3
3    4
4    1
5    2
6    3
7    4
dtype: int64

In [5]:
ser1.replace(1,"apple")

0    apple
1        2
2        3
3        4
4    apple
5        2
6        3
7        4
dtype: object

In [6]:
ser1.replace([1,4],[300,700])

0    300
1      2
2      3
3    700
4    300
5      2
6      3
7    700
dtype: int64

In [7]:
ser1.replace({4:np.nan})

0    1.0
1    2.0
2    3.0
3    NaN
4    1.0
5    2.0
6    3.0
7    NaN
dtype: float64