In [2]:
import numpy as np 
import pandas as pd 
from pandas import Series,DataFrame

In [3]:
obj=Series([3,6,9,12])

obj

0     3
1     6
2     9
3    12
dtype: int64

In [4]:
obj.values

array([ 3,  6,  9, 12])

In [6]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
#WW2 casualties from wikipedia

In [8]:
ww2_cas=Series([8700000,4300000,3000000,2100000,400000],index=['USSR','GERMANY','CHINA','JAPAN','USA'])
ww2_cas

USSR       8700000
GERMANY    4300000
CHINA      3000000
JAPAN      2100000
USA         400000
dtype: int64

In [9]:
ww2_cas['USA']

400000

In [10]:
  #CHECK CASUALITES>4m

In [11]:
ww2_cas[ww2_cas>4000000]

USSR       8700000
GERMANY    4300000
dtype: int64

In [12]:
'USSR'in ww2_cas

True

In [13]:
ww2_dict=ww2_cas.to_dict()

ww2_dict

{'USSR': 8700000,
 'GERMANY': 4300000,
 'CHINA': 3000000,
 'JAPAN': 2100000,
 'USA': 400000}

In [14]:
ww2_series=Series(ww2_dict)
ww2_series

USSR       8700000
GERMANY    4300000
CHINA      3000000
JAPAN      2100000
USA         400000
dtype: int64

In [15]:
countries=['CHINA','GERMANY','JAPAN','USA','USSR','ARGENTINA']

In [18]:
obj2=Series(ww2_dict,index=countries)

obj2

CHINA        3000000.0
GERMANY      4300000.0
JAPAN        2100000.0
USA           400000.0
USSR         8700000.0
ARGENTINA          NaN
dtype: float64

In [19]:
pd.isnull(obj2)

CHINA        False
GERMANY      False
JAPAN        False
USA          False
USSR         False
ARGENTINA     True
dtype: bool

In [20]:
pd.notnull(obj2)

CHINA         True
GERMANY       True
JAPAN         True
USA           True
USSR          True
ARGENTINA    False
dtype: bool

In [21]:
ww2_series

USSR       8700000
GERMANY    4300000
CHINA      3000000
JAPAN      2100000
USA         400000
dtype: int64

In [22]:
obj2

CHINA        3000000.0
GERMANY      4300000.0
JAPAN        2100000.0
USA           400000.0
USSR         8700000.0
ARGENTINA          NaN
dtype: float64

In [23]:
ww2_series + obj2

ARGENTINA           NaN
CHINA         6000000.0
GERMANY       8600000.0
JAPAN         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [24]:
obj2.name="WW2 CASUALTIES"

In [25]:
obj2.name

'WW2 CASUALTIES'

In [26]:
obj2

CHINA        3000000.0
GERMANY      4300000.0
JAPAN        2100000.0
USA           400000.0
USSR         8700000.0
ARGENTINA          NaN
Name: WW2 CASUALTIES, dtype: float64

In [29]:
obj2.index.name ='COUNTRIES'

obj2

COUNTRIES
CHINA        3000000.0
GERMANY      4300000.0
JAPAN        2100000.0
USA           400000.0
USSR         8700000.0
ARGENTINA          NaN
Name: WW2 CASUALTIES, dtype: float64