In [2]:
import numpy as np 
import pandas as pd 
from pandas import Series,DataFrame

In [4]:
arr=np.array([[1,2,np.nan],[np.nan,3,4]])

In [5]:
dframe1=DataFrame(arr,index=['A','B'],columns=['One','two','three'])

In [6]:
dframe1

   One  two  three
A  1.0  2.0    NaN
B  NaN  3.0    4.0

In [7]:
dframe1.sum()

One      1.0
two      5.0
three    4.0
dtype: float64

In [47]:
dframe1.sum(axis=1)

A    3.0
B    7.0
dtype: float64

In [48]:
dframe1.min()

One      1.0
two      2.0
three    4.0
dtype: float64

In [49]:
dframe1.idxmin()

One      A
two      A
three    B
dtype: object

In [50]:
dframe1

   One  two  three
A  1.0  2.0    NaN
B  NaN  3.0    4.0

In [51]:
dframe1.cumsum()

   One  two  three
A  1.0  2.0    NaN
B  NaN  5.0    4.0

In [52]:
dframe1.describe()

       One       two  three
count  1.0  2.000000    1.0
mean   1.0  2.500000    4.0
std    NaN  0.707107    NaN
min    1.0  2.000000    4.0
25%    1.0  2.250000    4.0
50%    1.0  2.500000    4.0
75%    1.0  2.750000    4.0
max    1.0  3.000000    4.0

In [53]:
from IPython.display import YoutubeVideo

ImportError: cannot import name 'YoutubeVideo' from 'IPython.display' (/Users/markella/opt/anaconda3/lib/python3.8/site-packages/IPython/display.py)

In [54]:
from pandas.io.data import data,wd

ModuleNotFoundError: No module named 'pandas.io.data'

In [55]:
import pandas_datareader.data as web

In [56]:
from pandas_datareader import data

In [57]:
import datetime

In [58]:
prices =web.get_data_yahoo(['CVX','XOM','BP'],start=datetime.datetime(2010,1,1),end=datetime.datetime(2013,1,1)),['Adj Close']

In [36]:
prices

(Attributes  Adj Close                             Close                        \
 Symbols           CVX        XOM         BP         CVX        XOM         BP
 Date
 2010-01-04  49.534626  44.251209  31.377701   79.059998  69.150002  59.150002
 2010-01-05  49.885490  44.423992  31.600506   79.620003  69.419998  59.570000
 2010-01-06  49.891754  44.807919  31.764961   79.629997  70.019997  59.880001
 2010-01-07  49.703812  44.667156  31.754347   79.330002  69.800003  59.860001
 2010-01-08  49.791527  44.487976  31.828608   79.470001  69.519997  60.000000
 ...               ...        ...        ...         ...        ...        ...
 2012-12-24  75.283806  59.964218  24.443899  108.629997  86.919998  41.720001
 2012-12-26  75.166008  60.067711  24.420458  108.459999  87.070000  41.680000
 2012-12-27  75.207596  59.922821  24.385302  108.519997  86.860001  41.619999
 2012-12-28  73.773018  58.708630  24.150946  106.449997  85.099998  41.220001
 2012-12-31  74.944244  59.708958  24.397026  108.139999  86.550003  41.639999

 Attributes        High                               Low             \
 Symbols            CVX        XOM         BP         CVX        XOM
 Date
 2010-01-04   79.199997  69.260002  59.450001   78.160004  68.190002
 2010-01-05   79.620003  69.449997  59.900002   78.720001  68.800003
 2010-01-06   80.000000  70.599998  59.919998   79.190002  69.339996
 2010-01-07   79.699997  70.059998  60.000000   78.970001  69.419998
 2010-01-08   79.470001  69.750000  60.060001   78.889999  69.220001
 ...                ...        ...        ...         ...        ...
 2012-12-24  109.389999  87.320000  41.990002  108.480003  86.800003
 2012-12-26  109.269997  87.680000  41.980000  108.209999  86.570000
 2012-12-27  108.860001  87.239998  41.849998  107.269997  85.750000
 2012-12-28  107.779999  86.290001  41.450001  106.300003  85.070000
 2012-12-31  108.230003  86.660004  41.740002  105.750000  84.699997

 Attributes                   Open                            Volume  \
 Symbols            BP         CVX        XOM         BP         CVX
 Date
 2010-01-04  59.080002   78.199997  68.720001  59.299999  10173800.0
 2010-01-05  59.310001   79.220001  69.190002  59.650002  10593700.0
 2010-01-06  59.340000   79.440002  69.449997  59.520000  11014600.0
 2010-01-07  59.689999   79.360001  69.900002  59.919998   9626900.0
 2010-01-08  59.669998   79.120003  69.690002  59.790001   5624300.0
 ...               ...         ...        ...        ...         ...
 2012-12-24  41.660000  109.300003  87.129997  41.880001   2284400.0
 2012-12-26  41.639999  109.099998  87.209999  41.779999   4094300.0
 2012-12-27  41.279999  108.459999  87.050003  41.810001   5525700.0
 2012-12-28  41.139999  107.680000  86.099998  41.189999   5277100.0
 2012-12-31  41.009998  105.750000  85.040001  41.240002   6554000.0

 Attributes
 Symbols            XOM         BP
 Date
 2010-01-04  27809100.0  3956100.0
 2010-01-05  30174700.0  4109600.0
 2010-01-06  35044700.0  6227900.0
 2010-01-07  27192100.0  4431300.0
 2010-01-08  24891800.0  3786100.0
 ...                ...        ...
 2012-12-24   6385200.0  2415200.0
 2012-12-26  10737800.0  2819800.0
 2012-12-27  14258500.0  4664200.0
 2012-12-28  13358700.0  4196000.0
 2012-12-31  19810800.0  6353800.0

 [754 rows x 18 columns],
 ['Adj Close'])

In [38]:
volume=web.get_data_yahoo(['CVX','XOM','BP'],start=datetime.datetime(2010,1,1),end=datetime.datetime(2013,1,1)),['Volume']

In [59]:
volume

(Attributes  Adj Close                             Close                        \
 Symbols           CVX        XOM         BP         CVX        XOM         BP
 Date
 2010-01-04  49.534622  44.251213  31.377703   79.059998  69.150002  59.150002
 2010-01-05  49.885502  44.423977  31.600512   79.620003  69.419998  59.570000
 2010-01-06  49.891777  44.807941  31.764948   79.629997  70.019997  59.880001
 2010-01-07  49.703796  44.667160  31.754349   79.330002  69.800003  59.860001
 2010-01-08  49.791523  44.487976  31.828606   79.470001  69.519997  60.000000
 ...               ...        ...        ...         ...        ...        ...
 2012-12-24  75.283829  59.964218  24.443892  108.629997  86.919998  41.720001
 2012-12-26  75.166031  60.067684  24.420458  108.459999  87.070000  41.680000
 2012-12-27  75.207573  59.922817  24.385305  108.519997  86.860001  41.619999
 2012-12-28  73.773026  58.708641  24.150946  106.449997  85.099998  41.220001
 2012-12-31  74.944252  59.708984  24.397028  108.139999  86.550003  41.639999

 Attributes        High                               Low             \
 Symbols            CVX        XOM         BP         CVX        XOM
 Date
 2010-01-04   79.199997  69.260002  59.450001   78.160004  68.190002
 2010-01-05   79.620003  69.449997  59.900002   78.720001  68.800003
 2010-01-06   80.000000  70.599998  59.919998   79.190002  69.339996
 2010-01-07   79.699997  70.059998  60.000000   78.970001  69.419998
 2010-01-08   79.470001  69.750000  60.060001   78.889999  69.220001
 ...                ...        ...        ...         ...        ...
 2012-12-24  109.389999  87.320000  41.990002  108.480003  86.800003
 2012-12-26  109.269997  87.680000  41.980000  108.209999  86.570000
 2012-12-27  108.860001  87.239998  41.849998  107.269997  85.750000
 2012-12-28  107.779999  86.290001  41.450001  106.300003  85.070000
 2012-12-31  108.230003  86.660004  41.740002  105.750000  84.699997

 Attributes                   Open                            Volume  \
 Symbols            BP         CVX        XOM         BP         CVX
 Date
 2010-01-04  59.080002   78.199997  68.720001  59.299999  10173800.0
 2010-01-05  59.310001   79.220001  69.190002  59.650002  10593700.0
 2010-01-06  59.340000   79.440002  69.449997  59.520000  11014600.0
 2010-01-07  59.689999   79.360001  69.900002  59.919998   9626900.0
 2010-01-08  59.669998   79.120003  69.690002  59.790001   5624300.0
 ...               ...         ...        ...        ...         ...
 2012-12-24  41.660000  109.300003  87.129997  41.880001   2284400.0
 2012-12-26  41.639999  109.099998  87.209999  41.779999   4094300.0
 2012-12-27  41.279999  108.459999  87.050003  41.810001   5525700.0
 2012-12-28  41.139999  107.680000  86.099998  41.189999   5277100.0
 2012-12-31  41.009998  105.750000  85.040001  41.240002   6554000.0

 Attributes
 Symbols            XOM         BP
 Date
 2010-01-04  27809100.0  3956100.0
 2010-01-05  30174700.0  4109600.0
 2010-01-06  35044700.0  6227900.0
 2010-01-07  27192100.0  4431300.0
 2010-01-08  24891800.0  3786100.0
 ...                ...        ...
 2012-12-24   6385200.0  2415200.0
 2012-12-26  10737800.0  2819800.0
 2012-12-27  14258500.0  4664200.0
 2012-12-28  13358700.0  4196000.0
 2012-12-31  19810800.0  6353800.0

 [754 rows x 18 columns],
 ['Volume'])

In [60]:
rets =prices.pct_change()

AttributeError: 'tuple' object has no attribute 'pct_change'

In [62]:
%matplotlib inline

In [63]:
prices.plot()

AttributeError: 'tuple' object has no attribute 'plot'